/* nunito fonts */
@font-face {
  font-family: "nunito";
  src: url("../fonts/nunito/nunito-normal.woff") format("woff");
  font-weight: normal; /* 400 */
  font-display: swap;
}

@font-face {
  font-family: "nunito";
  src: url("src/assets/fonts/nunito/nunito-bold.woff") format("woff");
  font-weight: bold; /* 700 */
  font-display: swap;
}

@font-face {
  font-family: "nunito";
  src: url("src/assets/fonts/nunito/nunito-extra-bold.woff") format("woff");
  font-weight: 800; /* extra bold */
  font-display: swap;
}

@font-face {
  font-family: "nunito";
  src: url("src/assets/fonts/nunito/nunito-semi-bold.woff") format("woff");
  font-weight: 600; /* semi-bold */
  font-display: swap;
}

@font-face {
  font-family: "nunito";
  src: url("src/assets/fonts/nunito/nunito-light.woff") format("woff");
  font-weight: 300; /* light */
  font-display: swap;
}

/* mont fonts */
@font-face {
  font-family: "mont";
  src: url("../fonts/mont/mont-normal.woff") format("woff");
  font-weight: normal; /* 400 */
  font-display: swap;
}

@font-face {
  font-family: "mont";
  src: url("src/assets/fonts/mont/mont-bold.woff") format("woff");
  font-weight: bold; /* 700 */
  font-display: swap;
}

@font-face {
  font-family: "mont";
  src: url("src/assets/fonts/mont/mont-semi-bold.woff") format("woff");
  font-weight: 600; /* semi-bold */
  font-display: swap;
}

@font-face {
  font-family: "mont";
  src: url("src/assets/fonts/mont/mont-ultra-bold.woff") format("woff");
  font-weight: 900; /* ultra-bold */
  font-display: swap;
}

@font-face {
  font-family: "mont";
  src: url("src/assets/fonts/mont/mont-light.woff") format("woff");
  font-weight: 300; /* light */
  font-display: swap;
}

/*Iran Yekan fonts*/
@font-face {
  font-family: "iran-yekan";
  src: url("src/assets/fonts/iran-yekan/iran-yekan-medium.woff") format("woff");
  font-weight: 500; /* medium */
  font-display: swap;
}

@font-face {
  font-family: "iran-yekan";
  src: url("src/assets/fonts/iran-yekan/iran-yekan-normal.woff") format("woff");
  font-weight: normal; /* 400 */
  font-display: swap;
}

@font-face {
  font-family: "iran-yekan";
  src: url("src/assets/fonts/iran-yekan/iran-yekan-bold.woff") format("woff");
  font-weight: bold; /* 700 */
  font-display: swap;
}

@font-face {
  font-family: "iran-yekan";
  src: url("src/assets/fonts/iran-yekan/iran-yekan-extra-bold.woff") format("woff");
  font-weight: 800; /* extra-bold */
  font-display: swap;
}

@font-face {
  font-family: "iran-yekan";
  src: url("src/assets/fonts/iran-yekan/iran-yekan-light.woff") format("woff");
  font-weight: 300; /* light */
  font-display: swap;
}

/*Iran Sans fonts*/
@font-face {
  font-family: "iran-sans";
  src: url("src/assets/fonts/iran-sans/iran-sans-medium.woff") format("woff");
  font-weight: 500; /* medium */
  font-display: swap;
}

@font-face {
  font-family: "iran-sans";
  src: url("src/assets/fonts/iran-sans/iran-sans-normal.woff") format("woff");
  font-weight: normal; /* 400 */
  font-display: swap;
}

@font-face {
  font-family: "iran-sans";
  src: url("src/assets/fonts/iran-sans/iran-sans-bold.woff") format("woff");
  font-weight: bold; /* 700 */
  font-display: swap;
}

@font-face {
  font-family: "iran-sans";
  src: url("src/assets/fonts/iran-sans/iran-sans-ultra-bold.woff") format("woff");
  font-weight: 900; /* ultra-bold */
  font-display: swap;
}

@font-face {
  font-family: "iran-sans";
  src: url("src/assets/fonts/iran-sans/iran-sans-light.woff") format("woff");
  font-weight: 300; /* light */
  font-display: swap;
}

.title-font {
  font-family: mont, sans-serif;
}

:root {
  --animate-duration: .5s;
  --animate-delay: .5s;
  --animate-repeat: 1;
  --font-xx-small: 10px;
  --font-x-small: 12px;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 18px;
  --font-x-large: 20px;
  --font-xx-large: 22px;
  --font-xxx-large: 24px;
}

body {
  background-color: #141328;
}

body, html {
  font-family: nunito, sans-serif, serif;
  font-size: 15px;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

@media (max-width: 991px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 28px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-weight: 600;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #ffffff;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 1.3;
}

p, li, span {
  color: #c4cbf9;
}

a {
  color: #ffffff;
}

a:hover, u:hover li:hover {
  text-decoration: none;
}

a:hover, u:hover li:hover,
a.active, li.active {
  color: #ffba52;
}

.d-ltr {
  direction: ltr;
}

.d-rtl {
  direction: rtl;
}

.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

body * .ripple {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.17);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.5s linear;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

.text-success {
  color: #7fec2a !important;
}

.text-warning {
  color: #fdb45a !important;
}

.text-danger{
  color: #f63a0f !important;
}

button[disabled]{
  opacity: 0.7;
}

button,
input[type="color"],
input[type="reset"],
input[type="button"],
input[type="submit"] {
  padding: .375rem .75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:focus {
  outline: none !important;
}

.btn {
  padding: 0.9rem 1.5rem;
  border-radius: 999px;
  font-size: 1.4rem;
  font-weight: 900;
  font-family: mont, sans-serif;
  color: #fff;
  background-size: 200% auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  line-height: 1.8rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) !important;
  border: none !important;
  outline: none !important;
}

.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
}

.btn-primary {
  background-image: linear-gradient(to right, #fd935a 0%, #ff6376 51%, #fd935a 100%);
}

.btn-primary:hover {
  background-position: right center;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 6px 1px rgba(254, 110, 155, 0.7) !important;
}

.btn-secondary {
  background-image: linear-gradient(to right, #006bd5 0%, #0381f8 51%, #006bd5 100%);
}

.btn-secondary:hover {
  background-position: right center;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 6px 1px rgba(40, 125, 190, 1) !important;
}

.btn-success {
  background-image: linear-gradient(to right, #75b84e 0%, #499b53 51%, #75b84e 100%);
}

.btn-success:hover {
  background-position: right center;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 6px 1px rgba(117, 184, 78, 1) !important;
}

.btn-danger {
  background-image: linear-gradient(to right, #FF5A50 0%, #ff3d38 51%, #FF5A50 100%);
}

.btn-danger:hover {
  background-position: right center;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 6px 1px rgb(255, 97, 82) !important;
}

.btn-negative {
  background-color: rgba(0, 0, 0, 0.02);
  color: #666;
  border: solid 1px #777 !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) !important;
  text-shadow: none;
}

.btn-negative:hover {
  background-color: rgba(0, 0, 0, 0.06);
  color: #444;
}

/*animated path checkbox*/
.checkbox {
  --checkbox-size: 1.5rem;
  --checkbox-unchecked-color: #9f9f9f;
  --checkbox-hover-color: #b1b1b1;
  --checkbox-checked-color: #cbcbcb;
  --checkbox-background-color: transparent;
  position: relative;
}

.checkbox input, .checkbox span {
  cursor: pointer;
  transition: 0.3s;
}

.checkbox input, .checkbox svg {
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  top: 0.3rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--checkbox-background-color);
  position: relative;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 0.4rem;
  border: 1px solid var(--checkbox-unchecked-color);
}

.checkbox input:hover {
  border-color: var(--checkbox-hover-color);
}

.checkbox input:checked {
  border-color: var(--checkbox-checked-color);
}

.checkbox svg {
  pointer-events: none;
  fill: none;
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--checkbox-checked-color);
  position: absolute;
  stroke-dasharray: var(--checbox-dasharray, 86.12);
  stroke-dashoffset: var(--checkbox-dashoffset, 86.12);
  transition: 0.6s;
}

.checkbox span {
  color: var(--checkbox-unchecked-color);
  padding: 0 0.7rem;
}

.checkbox span:hover {
  color: var(--checkbox-hover-color);
}

.checkbox input:checked + svg + span {
  color: var(--checkbox-checked-color);
}

.checkbox input:checked + svg {
  stroke-width: 2px;
  --checbox-dasharray: 16.1 86.12;
  --checkbox-dashoffset: 102.22;
  transition: 0.3s;
}

.checkbox input:checked,
.checkbox input:checked + svg {
  animation: checkbox-animation 0.36s ease;
}

@keyframes checkbox-animation {
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/*radio button*/
.radio-button {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 15px;
}

.radio-button .button {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}

.radio-button .button:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #499b53;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}

input[type="radio"] {
  display: none;
}

.radio-button:hover .button:after {
  transform: scale(3.6);
}

.radio-button:hover input[type="radio"]:disabled + .button:after {
  transform: scale(1);
}

input[type="radio"]:checked + .button {
  border-color: #499b53;
}

input[type="radio"]:checked + .button:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

input[type="radio"]:disabled,
input[type="radio"]:disabled + .button + .label {
  opacity: 0.6;
}

.snotify.snotify-centerTop {
  left: 16px;
  right: 16px;
  top: 16px;
  width: unset;
}

.snotify.snotify-rightTop {
  top: 16px;
  right: 16px;
}

.snotify .snotifyToast .snotifyToast__inner {
  padding: 15px 65px 15px 15px;
}

.snotify .snotifyToast .snotifyToast__inner .snotify-icon {
  left: unset;
  right: 10px;
}

.snotify .snotifyToast .snotifyToast__inner .snotifyToast__title {
  font-size: 1.5em;
  font-family: iran-yekan, sans-serif;
  font-weight: bold;
}

.snotify-custom-icon {
  font-size: 40px;
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.8);
}

.modal-dialog {
  width: 100%;
  height: 90%;
}

.modal-dialog .modal-header button.close {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.modal-dialog .modal-content {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  border-radius: 15px;
}

.modal-dialog .modal-content .btn{
  margin-top: 8px;
}

.bs-datepicker-head button span {
  color: #fff;
}

.bs-datepicker-body table.days span,
.bs-datepicker-body table.months td span,
.bs-datepicker-body table.years td span {
  color: #555;
}

/*start angular material style*/
.mat-option span.mat-option-text {
  color: #444;
  font-size: 14px;
}
/*end angular material style*/

/*start ng-select style*/
.ng-select-container{
  padding-left: 15px;
  padding-right: 15px;
}

.ng-option-label,
.ng-value-label {
  color: #555;
}
/*end ng-select style*/

/*pop-over style*/
.popover h3.popover-title {
  color: #555;
}
/*end pop-over style*/
